<!DOCTYPE html>
<html>
<head>
    <title>PXStat Updates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>CSO Dataset Overview</h2>

<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>

    <tbody>
        <tr class="even">
            <td>Dataset Label</td>
            <td>{{ label }}</td>
        </tr>

        <tr class="odd">
            <td>Last Updated</td>
            <td>{{ updated }}</td>
        </tr>

        <tr class="even">
            <td>Dimensions (id)</td>
            <td>
                {% for item in ids %}
                    {{ item }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
