<!DOCTYPE html>
<html>
<head>
    <title>PXStat Updates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>CSO Dataset Overview</h2>

<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>

<tbody>
    {% for d in datasets %}
    <tr class="{{ 'even' if loop.index0 % 2 == 0 else 'odd' }}">
        <td>{{ d.label }}</td>
        <td>{{ d.updated }}</td>
        <td>
            {% for item in d.id %}
                {{ item }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</tbody>
