<table>
    <thead>
        <tr>
            <th>Label</th>
            <th>Code</th>
            <th>Last Updated</th>
            <th>Links</th>
        </tr>
    </thead>

    <tbody>
        {% for d in datasets %}
        <tr class="{{ 'even' if loop.index0 % 2 == 0 else 'odd' }}">
            <td>{{ d.label }}</td>
            <td>{{ d.id }}</td>
            <td>{{ d.updated }}</td>
            <td>
                <a href="/dataset/{{ d.id }}">Details</a> |
                <a href="https://data.cso.ie/table/{{ d.id }}" target="_blank">CSO</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
